// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#post_index_wrapper{
  h1{
    text-align: center;
    font-size: 4em;
  }
  #indivisual{
    background-color:rgb(56, 224, 231);
    padding: 10px;
    border-radius: 20px;
    margin-top: 5px;
    height: 140px;
    p{
      text-align: left;
    }
    #body{
      a:hover{
        text-decoration: underline;
      }
    }
    h1{
      font-size: 2em;
      text-align: left;
      &:hover{
        color: rgb(0, 71, 255);
      }
    }
    #admin{
      text-align: right;
      .admin-uses{
        display: inline-block;
        a:hover{
          text-decoration: underline;
        }
      }
    }
  }
}
