// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#home_container{
  #home_header{
    background-color: lightgrey;
    height: 348px;
    h1{
      color: white;
      margin-top: -200px;
      font-size: 8em;
      text-align: left;
      margin-left: 50px;
    }
  }
  .section_header{
    height: 34px;
    font-size: 24px;
    line-height: 30px;
    color: white;
  }
  #top_left{
    width: 400px;
    background-color: white;
    //height: 600px;
    margin-top: 20px;
    margin-left: 10px;
    float: left;
    display: inline-block;
    #indivisual{
      background-color:rgb(56, 224, 231);
      padding: 10px;
      border-radius: 20px;
      margin-top: 5px;
      height: 171px;;
      p{
        text-align: left;
      }
      #body{
        a:hover{
          text-decoration: underline;
        }
      }
      h1{
        font-size: 2em;
        text-align: left;
        &:hover{
          color: rgb(0, 71, 255);
        }
      }
    }
  }
  #top_right{
    width: 860px;
    background-color: white;
    height: 621px;
    margin-top: 20px;
    margin-right: 10px;
    float: right;
    display: inline-block;
    .rslides {
      position: relative;
      list-style: none;
      overflow: hidden;
      width: 100%;
      padding: 0;
      margin: 0;
    }

    .rslides li {
      -webkit-backface-visibility: hidden;
      position: absolute;
      display: none;
      width: 100%;
      left: 0;
      top: 0;
    }

    .rslides li:first-child {
      position: relative;
      display: block;
      float: left;
    }

    .rslides img {
      display: block;
      height: auto;
      float: left;
      width: 100%;
      border: 0;
    }
    #home_slide_show
    {
    	height:500px;
    	width:860px;
    	background-color:rgb(200, 200, 200);
    	margin:auto;
    	margin-top:10px;
    }
    #home_slide_show img
    {
    	width:100%;
    	height:100%;
    	cursor:pointer;
    	margin-left:-19px;
    }
    #home_slide_show li
    {
    	list-style-type:none;
    	background-color:gray;
    	width:235px;
    	display:inline-block;
    	height:50px;
    	color:rgb(139, 0, 0);
    	font-size:15px;
    	margin-top:-16px;
    	text-align:center;
    	line-height:50px;
    	text-decoration:none;
    }
    .rslides_nav
    {
    	z-index:0;
    	background-color:rgb(150, 150, 150);
    	height:60px;
    	line-height:60px;
    	text-align:center;
    	text-decoration:none;
    	color:rgb(139, 0, 0);
    	margin-top:-47px;
    	width:115px;
    }
    .next
    {
    	float:right;
    }
    .prev
    {
    	float:left;
    }
    .rslides_nav:hover
    {
    	background-color:white;
    }
    .rslides_here
    {
    	background-color:rgb(150, 150, 150);
    }
    #home_slide_show h1
    {
    	text-align:center;
    	color:rgb(139, 0, 0);
    }
  }
}
